name: Training TestNG Selenium WebDriver

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 13
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - name: Run all answers
      run: mvn test -P all-answers -DseleniumBrowser=chrome_headless
    - name: Publish Test Report
      if: always()
      uses: scacap/action-surefire-report@v1
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_test_failures: true  
